@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #f3f4f6;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Controlling a-links colours in their different states */
a {
  color: white;
}

/* Unvisited link  */
a:visited {
  color: white;
}

/* Visited link    */
a:hover {
  color: black;
}

/* Mouse over link */
a:active {
  color: black;
}

#footerLink {
  margin: 0px 5px;
}

span {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

label {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
